{% extends 'base.html.twig' %}

{% block title %}Modification de l'événement - Travel Mate
{% endblock %}

{% block body %}
	<div class="container">
		<div class="new-form">
			<div class="container-fluid add-form mt-4">
				<h2>Editer</h2>
				<button type="button" class="btn btn-outline-secondary mb-4">
					<a href="{{ path('backoffice_event_index') }}">Retour à la liste des événements</a>
				</button>
			</div>

		{{ include('backoffice/event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
	</div>
{% endblock %}
