{% extends 'base.html.twig' %}

{% block title %}
	Les catégories d'événements
{% endblock %}

{% block body %}
	<main>
		<h2>Créez une nouvellel catégorie d'événements</h2>
		<p>
			<a href="{{ path('backoffice_category_new') }}">Ajouter</a>
		</p>
		<ul>
			{% for category in categories %}
				<li>
					{{ category.name }}
					{# <a href="{{ path('backoffice_category_show', {id:category.id}) }}"></a> #}
				</li>
			{% endfor %}
		</ul>
	</main>
{% endblock %}
