{% extends "base.html.twig" %}

{% block body %}

    <h2>Ajout d'une catégorie</h2>
    <!-- https://symfony.com/doc/current/forms.html#client-side-html-validation -->
    <!-- Nous gènère un formulair de ce type : <form action="" novalidate="novalidate"></form> -->
    {{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(formView.name, {'attr': {'class':'geronimo'}}) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(formView) }}

    <p>
        <a href="{{ path('backoffice_category_index') }}">Retour à la liste</a>
    </p>

{% endblock %}
