{% extends 'base.html.twig' %}

{% block title %}Backoffice Accueil - Travel Mate
{% endblock %}

{% block body %}
	<h1>{{ welcome_message }}</h1>

	<div>


		<p>
			Vous avez la possibilité en tant qu'admin de procéder à la consultation, création, modification et suppression des données en menus ci dessus.
		</p>

	</div>
{% endblock %}
