


<form class="d-flex m" action="">
    <input name="search" class="form-control me-2" type="search" placeholder="Ex : New York" aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit">GO</button>
</form>

<h2>
    Résultats de la recherche
</h2>
<ul>
    
</ul>