{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div>
    <h1>Liste des pays</h1>
    {% for country in countries %}
    <ul>
<<<<<<< HEAD
        <li>{{ country.name }}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
=======
        <li>{{ country.name }} {{ country.id }}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
>>>>>>> f5ea553463ec1ffe91c3adc596c99ca26a01740a
